{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <h1>Admin Login Page</h1>

    {% if form.errors %}
    <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    <div class="co">
        <form class="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <th>관리자 아이디</th>
                <tr></tr>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <th>관리자 패스워드</th>
                <tr></tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <br>
            <div class="form-row text-center">
                <div class="col-12">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}