{% extends 'base_generic.html' %}
{% block content %}
{% block title %} Forbidden 403 {% endblock %}
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Forbidden - Error 403
                </div>
                <div class="card-block">
                    <p class="lead">
                        The client does not have access rights to the content.
                    </p>
                    <a href="/" class="btn btn-link">Return HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}