{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<!-- Single Content -->
<div id="content" class="site-content center-relative">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            <h1 class="entry-title">
                <!-- 글제목 -->
                {{ post.title }}
            </h1>
            <div class="post-info content-660 center-relative">
                <div class="cat-links">
                    <ul>
                        <li><a href="#">
                                <!-- 카테고리 -->
                                {% for c in post.category.all %}
                                {{ c }}
                                <!-- 카테고리가 여러개인 경우 , 표시 -->
                                {% if not forloop.last %}
                                ,
                                {% endif %}
                                {% endfor %}
                            </a></li>
                    </ul>
                </div>
                <!-- 글 작성일 -->
                <div class="entry-date published">{{ post.createDate }}</div>
                <div class="clear"></div>
            </div>

            <!-- 사진 -->
            {% if post.title_image %}
            <div class="post-full-width">
                <img src="{{ post.title_image.url }}" alt="">
            </div>
            {% endif %}

            <div class=" entry-content">
                <div class="content-wrap content-660 center-relative">
                    <!-- 글 내용 -->
                    {{ post.content }}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </article>
    </div>
</div>
{% endblock %}