{% extends "base_generic.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
{% load static %}

<!-- Single Content -->
<div id="content" class="site-content center-relative">
    <div class="single-post-wrapper content-1070 center-relative">

        <article class="center-relative">
            <h1 class="entry-title">
                <!-- 글제목 -->
                {{ post.title }}
            </h1>
            <div class="post-info content-660 center-relative">
                <div class="cat-links">
                    <ul>
                        <li>
                            <a href="#">
                                <!-- 카테고리 -->
                                {% for c in post.category.all %}
                                {{ c }}
                                <!-- 카테고리가 여러개인 경우 , 표시 -->
                                {% if not forloop.last %}
                                ,
                                {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                    </ul>
                </div>
                <p>
                    <!-- 글 작성일 -->
                <div class="entry-date published">작성일시 : {{ post.createDate }}</div>
                </p>
                <p>
                    <!-- 글 수정일 -->
                <div class="entry-date published">수정일시 : {{ post.updateDate }}</div>
                </p>
                <div class="clear"></div>
            </div>

            <!-- 사진 -->
            {% if post.title_image %}
            <div class="post-full-width">
                <img src="{{ post.title_image.url }}" alt="">
            </div>
            {% endif %}

            <div class="content-wrap content-660 center-relative">
                <div class="wrap-blockquot">
                    <!-- 인용문 -->
                    <!-- <blockquote class="inline-blockquote" style="text-align:center"> -->
                    <!-- <p>Letter to my beloved daughter AnjiA</p> -->
                    <!-- </blockquote> -->
                    {{ post.content|linebreaksbr }}
                </div>
            </div>
            <div class="clear"></div>
        </article>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}